<div id="divInfoPais">
    <h1>País: <b>{{this.objetoPais.name.common}}</b></h1>
    <hr />
    <div id="contenedorGeneral">
        <div id="banderaInfo">
            <div id="bandera">
                <h2>Bandera</h2>
                <img src="{{this.objetoPais.flags.png}}" alt="bandera_pais"></div>
            <div id="info">
                <h2>Información</h2>
                <ul>
                    <li><b>Población:</b> {{this.objetoPais.population.toLocaleString()}}</li>
                    <li><b>Código:</b> {{this.objetoPais.cca2}}</li>
                </ul>
            </div>
        </div>
        <div id="traducciones">
            <h2>Traducciones</h2>
            <ul>
                <li>{{this.objetoPais.translations['ara'].common}}</li>
                <li>{{this.objetoPais.translations['bre'].common}}</li>
                <li>{{this.objetoPais.translations['ces'].common}}</li>
                <li>{{this.objetoPais.translations['cym'].common}}</li>
                <li>{{this.objetoPais.translations['deu'].common}}</li>
                <li>{{this.objetoPais.translations['est'].common}}</li>
                <li>{{this.objetoPais.translations['fin'].common}}</li>
                <li>{{this.objetoPais.translations['fra'].common}}</li>
                <li>{{this.objetoPais.translations['hrv'].common}}</li>
                <li>{{this.objetoPais.translations['hun'].common}}</li>
                <li>{{this.objetoPais.translations['ita'].common}}</li>
                <li>{{this.objetoPais.translations['jpn'].common}}</li>
                <li>{{this.objetoPais.translations['kor'].common}}</li>
                <li>{{this.objetoPais.translations['nld'].common}}</li>
                <li>{{this.objetoPais.translations['per'].common}}</li>
                <li>{{this.objetoPais.translations['pol'].common}}</li>
                <li>{{this.objetoPais.translations['por'].common}}</li>
                <li>{{this.objetoPais.translations['rus'].common}}</li>
                <li>{{this.objetoPais.translations['slk'].common}}</li>
                <li>{{this.objetoPais.translations['spa'].common}}</li>
                <li>{{this.objetoPais.translations['srp'].common}}</li>
                <li>{{this.objetoPais.translations['swe'].common}}</li>
                <li>{{this.objetoPais.translations['tur'].common}}</li>
                <li>{{this.objetoPais.translations['urd'].common}}</li>
            </ul>
        </div>
    </div>
</div>
