#divRegion{
    margin-left: 40px;
    width: 100vh;
}
#contenedorBotones{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
input{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 90px;
    height: 40px;
    border-radius: 5px ;
    background-color: white;

    /* Esto hay que cambiarlo */
    border: 1px solid rgb(46, 105, 240);
    color: rgb(46, 105, 240);
}
input:hover{
    cursor: pointer;
    background-color: rgb(46, 105, 240);
    color: white;
}